body{
    margin:0;
    background-color: black;
    color: white;
    font-family: "Playfair Display", serif;
}

.navbar {
    background-color: rgb(76, 69, 78);
    display: flex;
    justify-content: center; 
    padding: 24px 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 60px; 
}

.navbar a{
    color: #a082bd;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

.navbar a:hover{
    text-decoration: underline;
    color: #947f8d;
}

.navbar .menu{
    display: flex;
}

@media (max-width: 768px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .menu{
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .navbar .a{
        font-size: 16px;
        margin: 10px 0;
    }


}


main {
    display: flex;
    justify-content: center;  /* Centra orizzontalmente */
    align-items: center;      /* Centra verticalmente */
    height: 100vh;            /* Occupare tutta l'altezza della finestra */
}

.name-section {
    text-align: center; /* Centra il testo */
}

.name-section h1 {
    margin: 0;
    font-size: 3rem; /* Dimensione del font per schermi grandi */
    color: #ffffff; /* Colore del testo */
    font-weight: 300; 
}

.name-section p {
    font-size: 1.5rem; /* Dimensione del font per la descrizione */
    color: #807481; /* Colore secondario per la descrizione */
}



/* Media Query per schermi più piccoli (tablet e mobile) */
@media screen and (max-width: 768px) {
    .name-section h1 {
        font-size: 2.5rem; /* Riduci la dimensione del font per schermi più piccoli */
    }

    .name-section p {
        font-size: 1.2rem; /* Riduci la dimensione del testo per la descrizione */
    }
}

@media screen and (max-width: 480px) {
    .name-section h1 {
        font-size: 2rem; /* Ancora più piccolo su dispositivi molto piccoli */
    }

    .name-section p {
        font-size: 1rem; /* Piccola descrizione su dispositivi mobile */
    }
}

footer {
    background-color: rgb(76, 69, 78);
    color: #938a94;
    text-align: center;
    padding: 10px 0;
}








